/* ErrorPage.css */
.error-page {
  text-align: center;
  margin-top: 5rem;
}

.error-page h1 {
  font-size: 10rem;
  color: #ff4c4c;
}

.error-page p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: aliceblue;
}

.error-page a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.2rem;
}

.error-page a:hover {
  text-decoration: underline;
}
